.footer_ul {
  list-style: none;
  color: white;
  margin: 10px 0;
  padding: 5px 0;
}
.footer_ul li {
  transition: transform 300ms;
}

.footer_ul li:hover {
  transform: translateX(3px);
}

.footer_ul li a {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 5px 0;
  font-size: 12px;
  transition: all 0.25s ease-in;
  font-weight: 300;
}

.footer_ul li a:hover {
  color: #8d9397;
  transform: scale(1);
}

.icon_style {
  font-size: 1rem !important;
  color: #767b7f;
  margin-right: 3px;
}

.footer_image {
  position: absolute;
  bottom: -7px;
  right: 0;
}

.footer_top_btn {
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
.footer_top_btn:hover {
  animation: backtotopbtn 500ms ease-in infinite alternate;
}

@keyframes backtotopbtn {
  100% {
    transform: rotate(-90deg) scale(1.1);
  }
}
